<%= simple_form_for @search, url: dashboard_search_path(@model_names), method: :post do |f| %>
  <div class='search-fields'>
    <% @search_attributes.each do |attribute| %>
      <%= generate_search_input f, @model_name, attribute %>
    <% end %>
  </div>
  <div class='search-buttons'>
    <%= f.submit t('carload.action.search'), class: 'btn btn-primary' %>
  </div>
<% end %>
