body {
  color: $text-color;
}

a {
  color: $main-color;
}
a:hover {
  color: $main-color;
  text-decoration: none;
}

th {
  color: $main-color;
}

.panel {
  border-color: $main-color;
}
.panel-danger {
  border-color: #ddd;
  .panel-heading {
    color: white;
    text-shadow: 0 -1px 0 #900;
    background-color: #df3e3e;
  }
}

.pagination {
  li > a {
    color: $main-color;
    border-color: $main-color;
  }
  li > a:hover {
    color: $main-color;
    background-color: lighten($main-color, 20%);
    border-color: lighten($main-color, 20%);
  }
  li.active > a {
    background-color: $main-color;
    border-color: $main-color;
  }
  li.active > a:hover {
    background-color: lighten($main-color, 20%);;
    border-color: lighten($main-color, 20%);
  }
}

.center {
  text-align: center;
}

.btn-primary {
  color: $button-text-color;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.15);
  background-color: $button-color-1;
  background-image: -webkit-linear-gradient($button-color-2, $button-color-1);
  background-image: linear-gradient($button-color-2, $button-color-1);
  border: none;
  height: 34px;
}
.btn-primary:hover {
  color: lighten($button-text-color, 20%);
  background-color: lighten($button-color-1, 20%);
  background-image: -webkit-linear-gradient(lighten($button-color-2, 20%), lighten($button-color-1, 20%));
  background-image: linear-gradient(lighten($button-color-2, 20%), lighten($button-color-1, 20%));
  border: none;
  height: 34px;
}

.form-control:hover {
  border-color: $main-color;
}

:focus {
  outline-color: $main-color;
  border-color: $main-color !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $main-color !important;
}
