//= require font-awesome
//= require select2
//= require select2-bootstrap

$spacing: 16px;

@import 'bootstrap-sprockets';
@import 'bootstrap';

@import 'colors';
@import 'common';

#top-nav-buttons {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  a:first-child {
    border-top-left-radius: 0;
  }
  a:last-child {
    border-top-right-radius: 0;
  }
  a {
    border-color: $main-color;
  }
  a:hover {
    background-color: lighten($main-color, 20%);
    border-color: lighten($main-color, 20%);
  }
  a.active {
    background-color: $main-color;
    color: white;
  }
  a.active:hover {
    background-color: lighten($main-color, 20%);
    border-color: lighten($main-color, 20%);
  }
}

.model-index-panel {
  margin-top: 50px;
  width: 100%;
  table {
    margin-bottom: 0;
  }
}
.model-new-panel, .model-edit-panel {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

#dashboard-index-buttons {
  display: inline-block;
  margin-right: $spacing;
}
#new_q {
  display: inline-block;
}

.search-fields {
  display: inline-flex;
  .form-group {
    display: inline-flex;
    margin-right: 5px;
    margin-bottom: 0;
  }
  .form-group:last-child {
    margin-right: 0;
  }
}
.search-buttons {
  display: inline-flex;
}
