<div class='panel panel-default model-edit-panel'>
  <div class='panel-heading'>
    <%= t('carload.form.title.edit', model: @model_class) %>
  </div>
  <div class='panel-body'>
    <% begin %>
      <%= render "dashboard/#{@model_names}/form" %>
    <% rescue %>
      <%= render "carload/dashboard/form" %>
    <% end %>
  </div>
</div>
