<div class='panel panel-default model-new-panel'>
  <div class='panel-heading'>
    <%= t('carload.form.title.create', model: (t("activerecord.models.#{@model_name}", raise: true) rescue @model_class)) %>
  </div>
  <div class='panel-body'>
    <% begin %>
      <%= render "dashboard/#{@model_names}/form" %>
    <% rescue %>
      <%= render "carload/dashboard/form" %>
    <% end %>
  </div>
</div>
